:root {
  --Primary-BG: hsl(0, 0%, 97%);
  --Secondary-BG: hsl(0, 0%, 85%);
  --Primary-Text: hsl(0, 0%, 0%);
  --Secondary-Text: hsl(0, 0%, 35%);
  --Accent-color: hsl(246, 80%, 45%);
  --Accent-color-2: HSL(195, 80%, 65%);
  --Hover-color: hsl(0, 0%, 93%);
  --Shadow: rgba(0, 0, 0, 0.045);
  --border-color: hsl(0, 0%, 50%);
  --nav-BG: hsl(0, 0%, 100%);
  --brand-yellow: hsl(51, 100%, 50%);
  --side-nav-BG: hsl(0, 0%, 90%, 0.5);
  --icon-BG: hsl(0, 0%, 85%);
  --light-border: hsl(0, 0%, 80%);
  --Card-BG: hsl(0, 0%, 100%);
  --scroll: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --Primary-BG: hsl(0, 0%, 10%);
    --Secondary-BG: hsl(0, 0%, 20%);
    --Primary-Text: hsl(0, 0%, 90%);
    --Secondary-Text: hsl(0, 0%, 55%);
    --Accent-color: hsl(119, 70%, 60%);
    --Accent-color-2: HSL(195, 80%, 80%);
    --Hover-color: hsl(0, 0%, 15%);
    --Shadow: rgb(255, 255, 255, 0.03);
    --border-color: hsl(0, 0%, 50%);
    --nav-BG: hsl(0, 0%, 8%);
    --brand-yellow: hsl(51, 100%, 50%);
    --side-nav-BG: hsl(0, 0%, 10%, 0.5);
    --icon-BG: hsl(0, 0%, 15%);
    --light-border: hsl(0, 0%, 20%);
    --Card-BG: hsl(0, 0%, 15%);
    --scroll: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color-scheme: light dark;
  font-family: "Jura", helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--Primary-Text);
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--Primary-BG);
}
.header {
  width: 100%;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 250px;
  height: 100vh;
  background-color: var(--side-nav-BG);
  border-left: solid 1px var(--border-color);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px var(--Shadow);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.close-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-decoration: none;
  color: var(--Primary-Text);
  font-weight: 600;
  cursor: pointer;
}
.close-icon {
  margin-left: auto;
}
.side-nav li {
  width: 100%;
}
.side-nav a {
  width: 100%;
  padding: 20px;
}
.side-nav img {
  width: 55px;
  height: 55px;
  margin: 10px 0 0 15px;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav {
  position: fixed;
  top: 20px;
  z-index: 999;
  width: 50%;
  box-shadow: 0px 3px 5px 0px var(--Shadow);
  justify-content: space-between;
  display: flex;
  align-items: center;
  mix-blend-mode: normal;
  border-radius: 100px;
  backdrop-filter: blur(2px);
}
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;

  background-color: var(--nav-BG);
  z-index: -1;
  border-radius: 100px;
}
nav ul {
  width: 100%;
  display: flex;
  height: 60px;
  list-style: none;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-evenly;
}
nav li {
  display: flex;
  align-items: center;
  align-self: stretch;
}
nav a {
  font-size: 1.25rem;
  padding: 10px 20px;
  display: flex;
  text-decoration: none;
  color: var(--Primary-Text);
  height: 100%;
  align-items: center;
}
nav a:hover {
  color: var(--brand-yellow);
  transition: 0.5s;
}
nav h1 {
  margin-right: auto;
  font-size: 2rem;
}
nav img {
  src: var(--logo-img);
  width: self-height;
  height: 100%;
  margin-right: 50px;
}
nav picture {
  src: var(--logo-img);
  width: self-height;
  height: 100%;
}
.menu-btn {
  display: none;
}
nav button:hover {
  background-color: var(--Primary-BG);
  color: var(--Accent-color);
  border: solid 1px var(--Accent-color);
  transition: 0.3s;
}
.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(img/blackwebBG.webp);
}
.nav h1 {
  letter-spacing: -3px;
  padding: 10px 20px;
  background: linear-gradient(rgb(255, 174, 0), rgb(238, 255, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #111;
}
.hero {
  aspect-ratio: 2/1;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.button-container button {
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--brand-yellow);
  color: black;
  border: none;
  cursor: pointer;
}
.hero-animation {
  top: 50%;
  inset: 0;
  transform: translateY(3vw);
  z-index: 998;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  color: var(--Primary-BG);
  font-weight: 600;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.button {
  width: 360px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: (--brand-yellow);
  border-radius: 40px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: 0.5s;
}

.svgIcon {
  height: 45px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: rgb(255, 217, 0);
  transition-duration: 0.5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.button:hover .svgIcon {
  transform: rotate(950deg);
  transition-duration: 4s;
}
.intro-text {
  font-family: "Jura", sans-serif;
  font-size: 6vw;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 6vw;
  letter-spacing: -3px;
  text-align: center;
  vertical-align: middle;
}
.location-container {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.location-wrapper {
  display: flex;
  flex-direction: column;
  animation: role-change 6s infinite;
  height: 6vw;
  align-items: center;
}
.location {
  font-family: "Jura", sans-serif;
  font-size: 6vw;
  display: block;
  white-space: nowrap;
  text-align: left;
  line-height: 6vw;
  color: var(--brand-yellow);
}
@keyframes role-change {
  15% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}
.profile-pic-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--Primary-Text);
  padding: 2px;
  border-radius: 50%;
}
.bio-container {
  text-align: center;
}
.bio-container h4 {
  padding-bottom: 20px;
  font-size: 2rem;
}
.bio-container p {
  font-size: 1.5rem;
}
.profile-pic-container img {
  height: 200px;
  border-radius: 50%;
}
.skill-card {
  color: var(--Primary-Text);
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: var(--Card-BG);
  width: 100%;
  border: solid 0.5px var(--light-border);
}
.skill-card h5 {
  font-size: 1.2rem;
  padding-bottom: 3px;
}
.skill-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 2;
}
.about svg {
  height: 40px;
  width: 40px;
}
.slide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 70px;
  gap: 100px;
}
.underline {
  width: 20vw;
  height: 5px;
  margin-bottom: 20px;
}
#purple .underline {
  background-color: cornsilk;
}
#yellow .underline {
  background-color: black;
}
#yellow {
  background: linear-gradient(20deg, rgb(255, 213, 0) 30%, rgb(255, 255, 0));
  color: black;
}
.pc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pc-frame {
  width: 600px;
  height: 400px;
  background-color: #222;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
}
.screen {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}
.screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stand {
  width: 15px;
  height: 50px;
  background-color: #444;
}
.pc-base {
  width: 300px;
  height: 20px;
  background-color: #222;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#purple {
  background-color: rgb(78, 33, 113);
  color: cornsilk;
}
.image-wrapper {
  flex: 1;
}
.slide-img {
  height: auto;
  width: 100%;
  min-width: 500px;
}
.text-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.text-wrap h3 {
  font-size: 4rem;
}
.text-wrap p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 50px;
}
.text-wrap button {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.contact {
  display: flex;
  flex-direction: row;
  background-color: var(--varCream);
}
.contact-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.contact-detail-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
}
.form-wrapper h3 {
  text-align: left;
  font-family: "Jura";
  font-size: 2rem;
  font-weight: 600;
  color: var(--varBrand);
  margin-bottom: 10px;
}
.form-wrapper p {
  font-family: "Jura";
  font-size: 1rem;
  font-weight: 500;
  color: var(--varBrand);
  margin-bottom: 50px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
}
.form-group label {
  width: 40vw;
  font-family: "Jura";
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--varBrand);
}
.form-group input {
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px var(--Primary-BG);
  font-family: "Jura";
  font-size: 1.2rem;
}
.form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--varBrand);
  font-family: "Jura";
  font-size: 1.2rem;
  min-height: 80px;
  max-width: 100%;
  min-width: 100%;
}
.contact-form button {
  font-family: "Jura";
  font-weight: 800;
  font-size: 1.3rem;
  color: #000;
  width: clamp(50px, 50%, 400px);
  background-color: var(--brand-yellow);
  border: none;
  padding: 10px 30px;
  position: relative;
  transition: 0.5s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  margin-top: 40px;
}
.section-text {
  gap: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 50px;
  font-family: "Jura";
}
.section-text h2 {
  font-size: 3rem;
}
.section-text p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.footer {
  background-color: var(--nav-BG);
  padding: 50px 0 20px 0;
}
.footer-container {
  max-width: 1170px;
  margin: 0 auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  flex: 1 1 300px;
  padding: 0 15px 0 60px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.footer-col .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-col h4 {
  color: var(--Primary-Text);
  font-size: 1.25rem;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--brand-yellow);
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer-col ul li a {
  color: var(--Secondary-Text);
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  transition: all 0.3s ease;
  font-weight: 500;
}
.footer-col ul li a:hover {
  color: var(--Primary-Text);
  padding-left: 8px;
}
ul {
  list-style: none;
}
.social-links {
  display: flex;
  gap: 20px;
}
.social-links a {
  background-color: var(--icon-BG);
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px var(--Shadow);
}
.social-links a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--social-color);
  color: white;
  border-radius: 100px;
  padding: 0.5em 1em;
  box-shadow: 0 5px 10px var(--Shadow);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 0.2s ease;
}
.social-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--social-color);
  opacity: 0;
  transition: 0.2s ease;
}
.social-links a:hover::before {
  transform: translateY(-65px) rotate(0deg);
  opacity: 1;
}
.social-links a:hover::after {
  transform: translateY(-43px) rotate(0deg);
  opacity: 1;
}
.social-links a:hover {
  background-color: var(--social-color);
  fill: white;
}
.social-links a svg {
  height: 32;
  fill: var(--Primary-Text);
}
.social-links a:hover svg {
  fill: white;
}
.footer-tag {
  width: 100%;
  text-align: center;
  padding: 30px 20px 0 20px;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .hero-btn-container {
    justify-content: center;
  }
  .flex-container-hero {
    flex-direction: column;
    gap: 20px;
  }
  .hero-text {
    padding: 20px;
    justify-content: center;
  }
  .hero-text h1 {
    font-size: 8vw;
    text-align: center;
  }
  .hero-text p {
    font-size: 3vw;
    text-align: center;
  }
  .card {
    max-width: 100%;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .about .slide {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .side-nav {
    width: 100%;
  }
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 599px) {
}

.btn-container {
  display: flex;
  justify-content: left;
  --color-text: #ffffff;
  --color-background: #ff135a;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
